$gray: #888;
$white: #fff;
$blue: #459BDA;
$lightblue: #64BDFF;
$yellow: #ff6804;

$borderRadius: 5px;
$borderWidthHeight: 3px;

$warpperBoxShadow: 0 0 5px #888;

$titleHeight: 25px;
$titleTextShadow: 1px 1px 0 #0B77C5;

$footHeight: 27px;
$footPadding: 5px 10px;
$footBackgroundColor: #EFF4F9;

$btnBackgroundColor: #38A8FB;
$btnColor: #fff;
$btnBorder: 1px solid #5AA5DB;
$btnBoxShadow: 0 0 5px #64BDFF;
$btnBorderRadius: 3px;
$btnMargin: 5px;
$btnBackgroundColor_focus: #64BDFF;
$btnBorderColor_focus: #1F92E7;
$btnBackgroundColor_disabled: #ddd;
$btnColor_disabled: #666;
$btnBorderColor_disabled: 1px solid #999;

$shadeBackgroundColor: #999;
$shadeOpacity: 0.5;

$promptTextMarginBottom: 5px;
$promptInputPadding: 5px 5px;
$promptBorder: 1px solid #74AEE6;