@function ie67($value) {
  @return #{'*' + $value};
}
$hack_ie67: '*';

@mixin padding($tb, $lr){
    padding: $tb $lr;
    *padding: ($tb - 2px) $lr;
}

$warpperBoxShadow: 0 0 5px #ccc;
$warpperBorderRadius: 5px;

$layoutWidthHeight: 1px;
$layoutBorderRadius: 0;
$layoutBackgroundColor: #ccc;

$layerBackgroundColor: #fff;

$titleBackgroundColor: #fbfbfb;
$titleColor: #5f5f5f;
$titleHeight: 25px;
$titlePadding: 0 5px;
$titleTextShadow: 1px 1px 0 #e0e0e0;

$footHeight: 27px;
$footPadding: 5px 10px;
$footBackgroundColor: #fff;

$btnBackgroundColor: #ff7421;
$btnColor: #fff;
$btnBorder: 0px solid #5AA5DB;
$btnBoxShadow: 0 0 5px #ff7421;
$btnBorderRadius: 3px;
$btnPadding: 6px 12px;
$btnMargin: 5px;
$btnBackgroundColor_focus: #e86618;
$btnBorderColor_focus: #1F92E7;
$btnBackgroundColor_disabled: #ddd;
$btnColor_disabled: #666;
$btnBorderColor_disabled: 1px solid #999;
$btnOpacity_disabled: .5;

$winBtnHeight: 16px;
$winBtnWidth: 16px;
$winBtnBorderRadius: 8px;
$winBtnBackgroundColor: #fbfbfb;
$winBtnColor: #ff7421;
$winBtnTop: 4px;
$winBtnBackgroundColor_hover: #ffd3b9;

$xBtnHeight: 18px;
$xBtnWidth: 18px;
$xBtnBackgroundColor: #dadada;
$xBtnColor: #fff;
$xBtnBorderRadius: 10px;
$xBtnBorder: 2px solid #fff;
$xBtnRight: -12px;
$xBtnTop: -12px;
$xBtnBackgroundColor_hover: #ff7421;

$shadeBackgroundColor: #999;
$shadeOpacity: .5;

$promptTextMarginBottom: 5px;
$promptInputPadding: 5px 5px;
$promptBorder: 1px solid #ff7421;

$loadPadding: 5px;
$loadHeight: 24px;
$loadBackgroundColor: #fff;
$loadWidth_img: 24px;
$loadBackground_img: url(../images/loading.gif) center center no-repeat;
$loadMarginRight_img: 5px;
$loadWidth_text: 24px;
$loadHeight_text: 32px;

$proxyBorder: 1px solid #ff7421;
$proxyBorderRadius: 0;
$proxyBackgroundColor: #fff;